[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
mypy="*"

[packages]
sympy = "*"
numpy = "*"
matplotlib = "*"

[requires]
python_version = "3.9"
